---
interface Props {
	title: string;
}

import { Header, Footer } from '@halyard/ui';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="max-w-2xl m-auto flex flex-col justify-between">
		<Header />
		<main class="py-8 my-8">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	@import url('@halyard/reset/reset.css');
	@import url('@halyard/reset/theme.css');

	p a {
  @apply underline font-normal;
}

p {
  @apply text-subtle;
}

a {
  @apply font-semibold;
}

a {
  @apply no-underline;
}

header a {
  @apply text-inherit;
}

a:hover,
a:active,
a:focus {
  @apply text-brand.bold;
}

main,
header {
  @apply px-8;
}

article {
  @apply py-8;
}
</style>
